.btn {
    text-decoration: none;
    border: 1px solid red;
    padding: 10px 30px;
    color: white;
    background-color: green;
}

.btn:hover {
    background-color: lightgreen;
    color: black;
}